body {
  background: #666;
  margin: 0, auto;
}

.frame {
  background: #fff;
  margin: 0 auto;
  padding: 20px 40px;
  width: 975px;
}

.content {
	width: 775px;
}

.upper {text-transform: uppercase;}
.lower {text-transform: lowercase;}

li {
  list-style-position: outside;
}

h1, h2, h3 {
	font-family: Georgia, serif;
}

h1 { 
  color: #930;
  font: bold 45px Georgia, serif;
  text-transform: capitalize;
  line-height: 1.2;
  margin: 40px 0 0;
 
  }
  
h2 {
  font-weight: bold;
  font-size: 28px;
  text-transform: capitalize;
  line-height: 1;
  color: #333;
}

h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  line-height: 1;
  color: #333;
}

h4 {
	font-size: 18px;
	font-style: italic;
	line-height: 1;
	margin: 10px 0 40px;
	color: #333;
}

.nav_title {
	color: #999;
}

hr {
	border: none;
	border: 1px solid #999;	
	height: 1px;
	
}

p , li {
  font-family: Helvetica, sans-serif;
  font-weight:normal;
  font-size: 14px;
  line-height: 1.8;
  color: #333;
}

  	
a {
  color: #930;
}	

blockquote.style_quote{
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
  background-color: #dddddd;
  border-left: solid 10px #c4c4c4;
  padding:10px;
}
